@model TrackTaskItemsDb.Models.Department


<div style="display: inline-block">
    @Html.ListBox("Items", ViewBag.Depts as IEnumerable<SelectListItem>)<br />
    <b>Department name:</b><div id="Name" />
    <b>Department code:</b><div id="Code" />
    
    <form action="/Maintenance/DepartmentsUpdate" method="post">
        <b>Active:</b> <input type="checkbox" name="Active" id="Active"/><br />
        <input type="hidden" name="Number" value="off" id="Number"> 

        <input type="submit" value="Update" />
    </form>
</div>


<div style="display: inline-block">
    <form action="/Maintenance/DepartmentsInsert" method="post">
        <b>Add new item:</b><br />
        Department name: <input type="text" name="DeptName" /> 50 characters or less<br />
        Department code: <input type="text" name="Code" /> 20 characters or less<br />

        <input type="submit" value="Submit" />
    </form>
</div>





<script>
    var dept = @Html.Raw(Json.Encode(ViewBag.Depts));
    var code = @Html.Raw(Json.Encode(ViewBag.Code));
    var active = @Html.Raw(Json.Encode(ViewBag.Active));

    for (i = 0; i < $('#Items option').length; i++) {
        if (active[i].Text === "False") {
            $('#Items option')[i].style.backgroundColor = "#ff4d4d";
        }
    }
    $('#Items').change(function () {
        selected = $('#Items').val();
        $('#Name').text(dept[selected - 1].Text);
        $('#Code').text(code[selected - 1].Text);
        if (active[selected - 1].Text === "True") {
            $('#Active').attr("checked", true);
        }
        if (active[selected - 1].Text === "False") {
            $('#Active').attr("checked", false);
        }
        var selid = selected - 1;
        $('#Number').attr("value", selected.toString());
    });
</script>

<style>
    #Items {
        height: 200px;
    }
</style>