
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div>
    @Html.DropDownList("SelectedCategory", new List<SelectListItem>
    {
       new SelectListItem{ Text="Departments", Value = "1" },
       new SelectListItem{ Text="Quarters", Value = "2" },
       new SelectListItem{ Text="Statuses", Value = "3" },
       new SelectListItem{ Text="Strategic Pillars", Value = "4" }
    }, new { onchange = "changeFunc()" });
</div>

<div id="listarea">
    @Html.Partial("List")
    <button>Add</button>
</div>

<script>
    function changeFunc() {
        
</script>