USE [master]
GO
/****** Object:  Database [TrackTasks]    Script Date: 3/1/2021 5:00:12 PM ******/
CREATE DATABASE [TrackTasks]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TrackTasks', FILENAME = N'C:\Users\Becky\TrackTasks.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TrackTasks_log', FILENAME = N'C:\Users\Becky\TrackTasks_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TrackTasks].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TrackTasks]
GO
USE [TrackTasks]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 3/1/2021 5:00:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Department_Name] [nvarchar](50) NOT NULL,
	[Code] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_dbo.Departments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemDepartment]    Script Date: 3/1/2021 5:00:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemDepartment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TaskItemId] [int] NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[IsImpacted] [bit] NOT NULL,
	[UserId] [int] NOT NULL,
	[ItemNumber] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.ItemDepartment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuarterItems]    Script Date: 3/1/2021 5:00:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuarterItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StartQuarterId] [int] NULL,
	[TaskItemId] [int] NOT NULL,
	[isOriginal] [bit] NOT NULL,
	[isUpdated] [bit] NOT NULL,
	[EndQuarterId] [int] NULL,
	[LastTimeModified] [datetime] NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.QuarterItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quarters]    Script Date: 3/1/2021 5:00:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quarters](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[Quarter_Desc] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_dbo.Quarters] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 3/1/2021 5:00:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Status_Desc] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.Status] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StrategicGoal]    Script Date: 3/1/2021 5:00:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StrategicGoal](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Goals] [nvarchar](500) NOT NULL,
	[StrategicPillarId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Goals] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StrategicPillars]    Script Date: 3/1/2021 5:00:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StrategicPillars](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StrategicPillar] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_dbo.StrategicPillars] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskItems]    Script Date: 3/1/2021 5:00:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Status] [int] NOT NULL,
	[IsMandate] [bit] NOT NULL,
	[MandateComment] [nvarchar](25) NULL,
	[Action] [nvarchar](250) NULL,
	[IT_Project_Number] [nvarchar](20) NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CompletedDate] [datetime] NULL,
	[StartDate] [datetime] NOT NULL,
	[OperationalBudgetImplications] [money] NULL,
	[CapitolBudgetImplications] [money] NULL,
	[Outcome] [nvarchar](1000) NULL,
	[StrategicPillarId] [int] NOT NULL,
	[BudgetDesc] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.TaskItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Updates]    Script Date: 3/1/2021 5:00:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Updates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UpdateNotes] [nvarchar](max) NOT NULL,
	[TaskItemId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.Updates] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserDepartment]    Script Date: 3/1/2021 5:00:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDepartment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[DepId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.UserDepartment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/1/2021 5:00:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserIdentifier] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[UserType] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([Id], [Department_Name], [Code]) VALUES (1, N'Information Technology', N'CIO')
INSERT [dbo].[Departments] ([Id], [Department_Name], [Code]) VALUES (2, N'Executive Administration', N'EXEC')
INSERT [dbo].[Departments] ([Id], [Department_Name], [Code]) VALUES (4, N'Business Development', N'BD')
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[ItemDepartment] ON 

INSERT [dbo].[ItemDepartment] ([Id], [TaskItemId], [DepartmentId], [IsImpacted], [UserId], [ItemNumber]) VALUES (1, 26, 1, 0, 1, N'CIO-26')
INSERT [dbo].[ItemDepartment] ([Id], [TaskItemId], [DepartmentId], [IsImpacted], [UserId], [ItemNumber]) VALUES (2, 26, 4, 1, 1, N'CIO-26')
INSERT [dbo].[ItemDepartment] ([Id], [TaskItemId], [DepartmentId], [IsImpacted], [UserId], [ItemNumber]) VALUES (3, 26, 7, 1, 1, N'CIO-26')
SET IDENTITY_INSERT [dbo].[ItemDepartment] OFF
GO
SET IDENTITY_INSERT [dbo].[QuarterItems] ON 

INSERT [dbo].[QuarterItems] ([Id], [StartQuarterId], [TaskItemId], [isOriginal], [isUpdated], [EndQuarterId], [LastTimeModified], [CreatedDate]) VALUES (2, 13, 26, 1, 0, 12, NULL, CAST(N'2020-11-15T00:00:00.000' AS DateTime))
INSERT [dbo].[QuarterItems] ([Id], [StartQuarterId], [TaskItemId], [isOriginal], [isUpdated], [EndQuarterId], [LastTimeModified], [CreatedDate]) VALUES (3, 11, 26, 0, 1, NULL, NULL, CAST(N'2020-11-15T00:00:00.000' AS DateTime))
INSERT [dbo].[QuarterItems] ([Id], [StartQuarterId], [TaskItemId], [isOriginal], [isUpdated], [EndQuarterId], [LastTimeModified], [CreatedDate]) VALUES (4, 13, 27, 1, 0, 15, NULL, CAST(N'2019-11-15T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[QuarterItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Quarters] ON 

INSERT [dbo].[Quarters] ([Id], [StartDate], [EndDate], [Quarter_Desc]) VALUES (1, CAST(N'2021-01-01T00:00:00.000' AS DateTime), CAST(N'2021-03-31T00:00:00.000' AS DateTime), N'2021:Q1')
INSERT [dbo].[Quarters] ([Id], [StartDate], [EndDate], [Quarter_Desc]) VALUES (2, CAST(N'2021-04-01T00:00:00.000' AS DateTime), CAST(N'2021-06-30T00:00:00.000' AS DateTime), N'2021:Q2')
INSERT [dbo].[Quarters] ([Id], [StartDate], [EndDate], [Quarter_Desc]) VALUES (3, CAST(N'2021-07-01T00:00:00.000' AS DateTime), CAST(N'2021-09-30T00:00:00.000' AS DateTime), N'2021:Q3')
SET IDENTITY_INSERT [dbo].[Quarters] OFF
GO
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([Id], [Status_Desc]) VALUES (1, N'Not Started')
INSERT [dbo].[Status] ([Id], [Status_Desc]) VALUES (2, N'In Process – On Track')
INSERT [dbo].[Status] ([Id], [Status_Desc]) VALUES (3, N'In Process – Delayed Finish')
SET IDENTITY_INSERT [dbo].[Status] OFF
GO
SET IDENTITY_INSERT [dbo].[StrategicGoal] ON 

INSERT [dbo].[StrategicGoal] ([Id], [Goals], [StrategicPillarId]) VALUES (1, N'Collaborate with key customers', 1)
INSERT [dbo].[StrategicGoal] ([Id], [Goals], [StrategicPillarId]) VALUES (2, N'Achieve award fee 80%', 1)
INSERT [dbo].[StrategicGoal] ([Id], [Goals], [StrategicPillarId]) VALUES (3, N'Achieve QASP scores 90%', 1)
SET IDENTITY_INSERT [dbo].[StrategicGoal] OFF
GO
SET IDENTITY_INSERT [dbo].[StrategicPillars] ON 

INSERT [dbo].[StrategicPillars] ([Id], [StrategicPillar]) VALUES (1, N'Operational Excellence')
INSERT [dbo].[StrategicPillars] ([Id], [StrategicPillar]) VALUES (2, N'Financial Performance')
INSERT [dbo].[StrategicPillars] ([Id], [StrategicPillar]) VALUES (3, N'Organizational Growth')
SET IDENTITY_INSERT [dbo].[StrategicPillars] OFF
GO
SET IDENTITY_INSERT [dbo].[TaskItems] ON 

INSERT [dbo].[TaskItems] ([Id], [Status], [IsMandate], [MandateComment], [Action], [IT_Project_Number], [LastModifiedDate], [CreatedDate], [CompletedDate], [StartDate], [OperationalBudgetImplications], [CapitolBudgetImplications], [Outcome], [StrategicPillarId], [BudgetDesc]) VALUES (28, 1, 0, NULL, N'Establish a non-MAC security environment', N'Not Submitted', CAST(N'2019-01-01T11:30:00.000' AS DateTime), CAST(N'2019-01-01T11:30:00.000' AS DateTime), NULL, CAST(N'2019-02-01T10:30:00.000' AS DateTime), 0.0000, 1000000.0000, N'to support future business growth [BUDGET DEPENDENT]', 4, NULL)
SET IDENTITY_INSERT [dbo].[TaskItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Updates] ON 

INSERT [dbo].[Updates] ([Id], [UpdateNotes], [TaskItemId], [UserId], [LastModifiedDate], [CreatedDate]) VALUES (1, N'2019 Q4: Included funds in the budget for proof of concept in 2020. Will kick off in earnest in 2020 (late Q1) to determine which area. Possibly DME Call Center in advance of rebid efforts.', 26, 1, CAST(N'2019-11-15T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[Updates] ([Id], [UpdateNotes], [TaskItemId], [UserId], [LastModifiedDate], [CreatedDate]) VALUES (2, N'2020 Q1: Meetings being held in April to strategize and identify first area to move forward with.', 26, 2, CAST(N'2020-01-15T00:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Updates] OFF
GO
SET IDENTITY_INSERT [dbo].[UserDepartment] ON 

INSERT [dbo].[UserDepartment] ([Id], [UserId], [DepId]) VALUES (1, 1, 1)
SET IDENTITY_INSERT [dbo].[UserDepartment] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [UserIdentifier], [FirstName], [LastName], [UserType]) VALUES (1, N'rebecca.chepkirwok@ndsu.edu', N'Rebecca', N'Jero', 0)
INSERT [dbo].[Users] ([Id], [UserIdentifier], [FirstName], [LastName], [UserType]) VALUES (2, N'gladys.rotich@ndsu.edu', N'Gladys', N'Rotich', 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_QuarterId]    Script Date: 3/1/2021 5:00:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_QuarterId] ON [dbo].[QuarterItems]
(
	[StartQuarterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TaskItemId]    Script Date: 3/1/2021 5:00:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_TaskItemId] ON [dbo].[QuarterItems]
(
	[TaskItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TaskItemId]    Script Date: 3/1/2021 5:00:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_TaskItemId] ON [dbo].[Updates]
(
	[TaskItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ItemDepartment]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ItemDepartment_dbo.Departments_DepartmentId] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([Id])
GO
ALTER TABLE [dbo].[ItemDepartment] CHECK CONSTRAINT [FK_dbo.ItemDepartment_dbo.Departments_DepartmentId]
GO
ALTER TABLE [dbo].[ItemDepartment]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ItemDepartment_dbo.TaskItems_TaskItemID] FOREIGN KEY([TaskItemId])
REFERENCES [dbo].[TaskItems] ([Id])
GO
ALTER TABLE [dbo].[ItemDepartment] CHECK CONSTRAINT [FK_dbo.ItemDepartment_dbo.TaskItems_TaskItemID]
GO
ALTER TABLE [dbo].[ItemDepartment]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ItemDepartment_dbo.Users_UsersId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ItemDepartment] CHECK CONSTRAINT [FK_dbo.ItemDepartment_dbo.Users_UsersId]
GO
ALTER TABLE [dbo].[QuarterItems]  WITH CHECK ADD  CONSTRAINT [FK_dbo.QuarterItems_dbo.Quarters_EndQuarterId] FOREIGN KEY([EndQuarterId])
REFERENCES [dbo].[Quarters] ([Id])
GO
ALTER TABLE [dbo].[QuarterItems] CHECK CONSTRAINT [FK_dbo.QuarterItems_dbo.Quarters_EndQuarterId]
GO
ALTER TABLE [dbo].[QuarterItems]  WITH CHECK ADD  CONSTRAINT [FK_dbo.QuarterItems_dbo.Quarters_StartQuarterId] FOREIGN KEY([StartQuarterId])
REFERENCES [dbo].[Quarters] ([Id])
GO
ALTER TABLE [dbo].[QuarterItems] CHECK CONSTRAINT [FK_dbo.QuarterItems_dbo.Quarters_StartQuarterId]
GO
ALTER TABLE [dbo].[QuarterItems]  WITH CHECK ADD  CONSTRAINT [FK_dbo.QuarterItems_dbo.TaskItems_TaskItemsId] FOREIGN KEY([TaskItemId])
REFERENCES [dbo].[TaskItems] ([Id])
GO
ALTER TABLE [dbo].[QuarterItems] CHECK CONSTRAINT [FK_dbo.QuarterItems_dbo.TaskItems_TaskItemsId]
GO
ALTER TABLE [dbo].[StrategicGoal]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Goals_dbo.StrategicPillars_StrategicPillarId] FOREIGN KEY([StrategicPillarId])
REFERENCES [dbo].[StrategicPillars] ([Id])
GO
ALTER TABLE [dbo].[StrategicGoal] CHECK CONSTRAINT [FK_dbo.Goals_dbo.StrategicPillars_StrategicPillarId]
GO
ALTER TABLE [dbo].[TaskItems]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TaskItems_dbo.Status_StatusId] FOREIGN KEY([Status])
REFERENCES [dbo].[Status] ([Id])
GO
ALTER TABLE [dbo].[TaskItems] CHECK CONSTRAINT [FK_dbo.TaskItems_dbo.Status_StatusId]
GO
ALTER TABLE [dbo].[TaskItems]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TaskItems_dbo.StrategicPillars_StrategicPillarId] FOREIGN KEY([StrategicPillarId])
REFERENCES [dbo].[StrategicPillars] ([Id])
GO
ALTER TABLE [dbo].[TaskItems] CHECK CONSTRAINT [FK_dbo.TaskItems_dbo.StrategicPillars_StrategicPillarId]
GO
ALTER TABLE [dbo].[Updates]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Updates_dbo.TaskItems_TaskItemId] FOREIGN KEY([TaskItemId])
REFERENCES [dbo].[TaskItems] ([Id])
GO
ALTER TABLE [dbo].[Updates] CHECK CONSTRAINT [FK_dbo.Updates_dbo.TaskItems_TaskItemId]
GO
ALTER TABLE [dbo].[Updates]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Updates_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Updates] CHECK CONSTRAINT [FK_dbo.Updates_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[UserDepartment]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserDepartment_dbo.Departments_DepartmentId] FOREIGN KEY([DepId])
REFERENCES [dbo].[Departments] ([Id])
GO
ALTER TABLE [dbo].[UserDepartment] CHECK CONSTRAINT [FK_dbo.UserDepartment_dbo.Departments_DepartmentId]
GO
ALTER TABLE [dbo].[UserDepartment]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserDepartment_dbo.Users_UsersId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserDepartment] CHECK CONSTRAINT [FK_dbo.UserDepartment_dbo.Users_UsersId]
GO
USE [master]
GO
