
@{ ViewBag.Title = "Index"; }


<html>
<head>
    <meta name="viewport" content="width=device-width" />

</head>
<body>
    @*authenticating the user*@
    @if (!Request.IsAuthenticated)
    {<!-- If the user is not authenticated, display the sign-in button -->

      <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="300px" height="50px" viewBox="0 0 3278 522" class="SignInButton">
        <style type="text/css">

            .fnt0 {
                font-size: 260px;
                font-family: 'Segoe UI Semibold', 'Segoe UI';
                text-decoration: none;
                text-align: center;
            }
            .item1 {
                grid-area: header;
                background-color: white;
                width: 260px;
            }

            .item2 {
                grid-area: menu;
                color: white;
            }

            .item3 {
                grid-area: main;
            }

            .grid-container {
                display: grid;
                grid-template-areas: 'header header header header header header' 'menu menu menu menu menu menu' 'main main main main main main';
                grid-gap: 10px;
                background-color: #0065A2;
                padding: 6px;
                opacity: 0.9;
            }

            .button {
                background-color: white;
                border: none;
                color: black;
                padding: 10px 25px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
            }

            text:hover {
                background-color: #696969;
            }
        </style>

        <div class="grid-container">

            <div class="item1">
                    <img src="~/Images/NoridianLogo.png" alt="logo" height="100px" width="250px" />
            </div>

            <h2 class="item2">Welcome, Please Sign In Below</h2>

            <div class="item3">
                <a href="@Url.Action("SignIn", "Home")" style="text-decoration: none;">
                <text class="button">Sign In</text></a>
            </div>

        </div>
        </svg>
    }
    else
    {
        <span><br />Hello @System.Web.HttpContext.Current.User.Identity.Name;</span>
      

            Response.Redirect("/ItemDepartments/Index");
        

    }
    @if (!string.IsNullOrWhiteSpace(Request.QueryString["errormessage"]))
    {
        <div style="background-color:red;color:white;font-weight: bold;">Error: @Request.QueryString["errormessage"]</div>}
</body>
</html>
