@{
    ViewBag.Title = "Reports";
}

<h4 style="text-align:center;background:#0065A2; color:white">Reports</h4>
<iframe width="1100" height="541" src="https://app.powerbi.com/reportEmbed?reportId=1269c915-f75c-4a3e-8d4d-82c820626227&autoAuth=true&ctid=e6d8e78b-8cb6-40b1-86fb-38d7e75dd8de&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLXdlc3QyLXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9" frameborder="0" allowFullScreen="true"></iframe>